/* CSS declarations go here */
.search {
  width:90%;
  max-width: 1300px;
  margin-left:auto;
  margin-right:auto;
  .brick {
    width: 350px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  }
}
.fixed {
  position: fixed;
  bottom: 20px;
  left:20px;
  .loading{
    position: relative;
    width: 200px;
    span{
      margin-right: 10px;
      -webkit-animation-name:             rotate; 
      -webkit-animation-duration:         0.5s; 
      -webkit-animation-iteration-count:  infinite;
      -webkit-transition-timing-function: linear;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
